
04_hang/04_media/Thumbs.db
04_hang/04_media/letters/Thumbs.db
01_media/Thumbs.db
17_Trisk/media/Thumbs.db
18_landing/media/Thumbs.db
19_porfolio/01 pic_Eng01.webp
19_porfolio/02 pic_Terminal 01.webp
19_porfolio/02 pic_Terminal 02.webp
19_porfolio/02 pic_Terminal 03.webp
19_porfolio/03 pic_Anim 01.webp
19_porfolio/03 pic_Anim 02.webp
19_porfolio/03 pic_Anim 03.webp
19_porfolio/Anim 01.mp4
19_porfolio/Anim 02.mp4
19_porfolio/Anim 03.mp4
19_porfolio/CAD Porfolio Slides.mp4
19_porfolio/index.html
19_porfolio/Terminal Concept Art.pdf
19_porfolio/Terminal Fly Thru.mp4
19_porfolio/Terminal Intro.mp4
19_porfolio/01 pic_Eng01.webp
19_porfolio/02 pic_Terminal 01.webp
19_porfolio/02 pic_Terminal 02.webp
19_porfolio/02 pic_Terminal 03.webp
19_porfolio/03 pic_Anim 01.webp
19_porfolio/03 pic_Anim 02.webp
19_porfolio/03 pic_Anim 03.webp
19_porfolio/Anim 01.mp4
19_porfolio/Anim 02.mp4
19_porfolio/Anim 03.mp4
19_porfolio/CAD Porfolio Slides.mp4
19_porfolio/index.html
19_porfolio/Terminal Concept Art.pdf
19_porfolio/Terminal Fly Thru.mp4
19_porfolio/Terminal Intro.mp4
