@font-face {
    font-family: 'IM FELL English SC';
    src: url('IM_FELL_English_SC.woff2') format('woff2'),
        url('IM_FELL_English_SC.woff') format('woff'),
		url('IM_FELL_English_SC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

